.draggable, .semidraggable {
  position: relative;
  user-select: none;
  color: white;
  padding: 0 4px;
  border-radius: 3px;
  font-weight: bold;
  display: inline;
  border-color: white;
}
.green {
  background-color: #50C900
}
.blue {
  background-color: lightblue;
}
.red {
  background-color: pink;
  margin-left: -2px;
}

.sidebtn {
  padding: 2px;
  border-radius: 2px;
}
.sidebtn:hover {
  background-color: #4286f4;
  transition: .5s;
}
.highlightedbtn {
  color: white;
  background-color: #2266d4;
  padding: 2px;
  border-radius: 2px;
}

button {
  margin: 5px;
}

.panel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.bottom {
  display: none;
}
* {
  box-sizing: border-box;
}
#editor {
  padding: 15px;
  height: 200px;
}
.header {
  text-align: center;
  font-family: arial;
  background-color: #4286f4;
  color: white;
  padding: 15px;
}
.footer {
  text-align: center;
  font-family: arial;
  background-color: #4286f4;
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.column {
  float: left;
  padding: 15px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.content {
  font-family: arial;
  text-align: center;
}
.editor-window {
  margin: 5px auto;
  width: 100%;
}
body {
  margin: 0;
}
